<ion-view view-title="MAP">
  <ion-content ng-show="positionAvailable">
<!--     {{position.coords.latitude}}
    {{position.coords.longitude}} -->
    {{text}}
    <div id="map" scroll="false" data-tap-disabled="true">
    </div>
  </ion-content>
  <ion-content ng-hide="positionAvailable">
    {{positionMessage}}
  </ion-content>
</ion-view>
